td, th{
    border: solid 1px grey;
    padding: 5px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

tr:nth-child(odd) {
    background-color: lightgrey;
}

svg {
    width: 800px;
    height: 400px;
}

svg text {
    font: 8px Verdana;
}

svg path, line {
    fill: none;
    stroke: #333333;
    width: 1px;
}